.App {
  background-color: rgb(248, 248, 248);
  margin: 2rem;
  padding: 3rem;
  text-align: center;
  position: relative;
}

.headerTitle {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
  margin: 0;
  animation: slideInTop 1s ease-out;
}

.headerTitleSub {
  margin-top: 0.5rem;
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: slideInBehind 2.5s;
}

.voiceSelect {
  text-align: left;
  color: black;
  margin: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.textbox {
  width: 70%;
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.55),
    rgba(86, 67, 250, 0.55)
  );
  color: white;
  padding: 20px;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  margin: 0 auto;
}

.select {
  color: rgb(25, 13, 92);
  font-size: 12px;
  width: 100%;
  outline: none;
  padding: 5px;
  border-radius: 4px;
}

.textArea {
  color: rgba(86, 67, 250, 0.85);
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  margin: 15px 0;
  width: 98%;
  height: 100px;
  outline: none;
}

button {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
  padding: 10px 15px;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 15px;
  border: none;
  cursor: pointer;
  color: white;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

button:active {
  transform: translate(1px);
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.3);
}

button::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  80% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInBehind {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
